body {
  padding: 0;
  margin: 0;


  background-image: url(C:\Users\omem-\ReactPrograms\editor-image\src\imgs\wallhaven-dplgl3_1920x1080.png);

  background-size: cover;



  
}

#root {
 padding: 0;
 margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
